appdirs==1.4.4
asgiref==3.5.2
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
black==19.10b0
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
click @ file:///C:/ci/click_1646056762388/work
colorama @ file:///C:/Windows/TEMP/abs_9439aeb1-0254-449a-96f7-33ab5eb17fc8apleb4yn/croots/recipe/colorama_1657009099097/work
Django==4.1
mypy-extensions==0.4.3
pathspec==0.7.0
Pillow==9.2.0
psycopg2==2.9.3
regex @ file:///C:/ci/regex_1658258299320/work
sqlparse==0.4.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
typed-ast @ file:///C:/ci_310/typed-ast_1642093438825/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
tzdata==2022.1
wincertstore==0.2
